{
  "printWidth": 140,
  "singleQuote": false,
  "jsxSingleQuote": true,
  "semi": true,
  "tabWidth": 2,
  "bracketSpacing": true,
  "arrowParens": "always",
  "trailingComma": "none",
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrder": ["^@tsed/(.*)$", "^[./]"],
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrderParserPlugins": ["decorators-legacy", "typescript"]
}
